.homepage {
    color: $white;
    font-size: 1.875em;
    padding: 15px 12px;
    margin: 0 auto;
    font-family: $commonFont;
}
.homepagemaindivider {
    padding: 0.5rem;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $lightGrey2;
}
.button {
    font-family: $commonFont;
    text-decoration: none;
    background-color: $buttonGrey;
    color: $black;
    padding: 6px;
    border: 1px solid $lightBlue;
    border-radius: 3px;
    font-size: 1.25em;
    font-weight: bold;
}
