table {
    width: 72.9%;
    border-collapse: collapse;
    table-layout: auto;
    display: block;
    overflow: auto;
}

table, td, th {
    border: 1px solid $lightBlue;
    padding: 5px;
}

th {
    text-align: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
