$white: #ffffff;
$lightGrey: #e7e7e7;
$lightGrey1: #dbdbdb;
$lightGrey2: #9f9f9f;
$lightBlue: #5075d8;
$darkBlue: #5532a6;
$black: #000000;
$lightBlack: #1c1c1c;
$lightPink: #fde2ff;
$lightPink1: #feebff;
$buttonGrey: #EEEEEE;
